mixin input(props={})
    - const {value, placeholder, modifyInput} = props;
    if modifyInput
        input.input(value = value, placeholder = placeholder class = `input${modifyInput}`)
    else
        input.input(value = value, placeholder = placeholder)