.radio {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    @import "./__input/__input.scss";
    @import "./__box/__box.scss";
    @import "./__title/__title.scss";
}