doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form Elements
    body.form-elements

        include ../formInputs/formInputs
        +formInputs({
            value: "",
            placeholder: "Email",
            title: "text field",
            description: "default"
        })

        +formInputs({
            value: "This is pretty awesome",
            placeholder: "Email",
            title: "text field",
            description: "hover/focus",
            modifyInput: "hover_and_focus"
        })


        +formInputs({
            value: "",
            placeholder: "ДД.ММ.ГГГГ",
            title: "masked text field",
            description: "default"
        })

        //- Дропдаун
        include ../dropdown/dropdown
        +dropdown({
            value: "2 cпальни, 2 кровати...",
            modifyInput: "font-weight input_border-top"

        }, "Спальни", "Кровати", "Ванные комнаты")

        +dropdown({
            value: "Сколько гостей",
            modifyInput: "font-weight input_border-top",
            dropdownGuest: true

        }, "Взрослые", "Дети", "Младенцы")(class = "dropdown_width_big")


        //- Checkbox Buttons
        include ../checkboxButtons/checkboxButtons
        +checkboxButtons



        //- Выпадающий список с доп. услугами
        include ../expandableCheckboxList/expandableCheckboxList
        +expandableCheckboxList

        +expandableCheckboxList({
            modifyList: 'expandable-checkbox-list__list_active',
            modifyTitle: 'expandable-checkbox-list__title_arrow-up'
        })

        
        //- Radio Buttons
        include ../radioButtons/radioButtons
        +radioButtons


        //- Toggle Buttons
        include ../toggle/toggle
        +toggle


        //- Like Buttons
        include ../likeButton/likeButton
        +likeButton({
            text: '2',
            modify: 'click'
        })

        +likeButton({
            text: '12',
        })


        //- Список запретов
        include ../bulletList/bulletList


        //- Удобства
        include ../advantages/advantages


        //- Buttons
        include ../linkButtons/linkButtons
        +linkButtons({
            href: "#",
            text: "Войти"
        })
        include ../buttons/buttons
        +buttons({
            type: "button",
            text: "Перейти к оплате"
        })(class = "buttons_submit")

        //- Pagination
        include ../pagination/pagination