doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Form Elements
    body.form-elements
        include ../formInputs/formInputs
        +formInputs({
            title: "text field",
            description: "default",
            placeholder: "Email",
        })

        include ../formInputs/formInputs
        +formInputs({
            title: "text field",
            description: "hover/focus",
            placeholder: "Email",
            modifyInput: "_hover_and_focus",
            value: "This is pretty awesome"
        })

        +formInputs({
            dropdown: true,
            title: "dropdown",
            description: "default",
            placeholder: "Email",
            modifyInput: "_font-weight",
            value: "Сколько гостей"
        })

        +formInputs({
            title: "masked text field",
            description: "default",
            placeholder: "ДД.ММ.ГГГГ"
        })

        include ../dateDropdown/dateDropdown

        +formInputs({
            dropdown: true,
            title: "filter date dropdown",
            placeholder: "19 авг - 23 авг",
            modify: "_width_small",
            modifyInput: "_color-placeholder"
        })

        

        .form-input.form-input_width_small
            .form-input__header-label
                include ../labelTitle/labelTitle
                +labelTitle("subscription text field")
            include ../subscriptionTextField/subscriptionTextField 
        include ../dropdown/dropdown
        +dropdown({
            title: "Спальни"
        })
        include ../checkboxButtons/checkboxButtons
        +checkboxButtons

        include ../expandableCheckboxList/expandableCheckboxList
        +expandableCheckboxList

        +expandableCheckboxList({
            modifyList: 'expandable-checkbox-list__list_active',
            modifyTitle: 'expandable-checkbox-list__title_arrow-up'
        })

        
        include ../radioButtons/radioButtons
        +radioButtons

        include ../toggle/toggle
        +toggle

        include ../likeButton/likeButton
        +likeButton({
            text: '2',
            modify: 'click'
        })

        +likeButton({
            text: '12',
        })

        include ../bulletList/bulletList