&__button {
    box-sizing: border-box;

    font-family: $monseratRegular;
    font-size: 18px;

    color: $darkShadeFourth;

    background-color: transparent;

    border: 1px solid $darkShadeFourth;
    border-radius: 50%;

    width: 30px;
    height: 30px;

    cursor: pointer;

    outline: none;
}