&__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    
}

@media screen and (max-width: 1200px) {
    &__content {
        display: block;

        overflow-y: hidden;
        height: 0;

        @import "./_active/_active.scss";
    }
}