mixin radioButtons(props = {})
    .radio-buttons
        .radio-buttons__title
            include ../labelTitle/labelTitle
            +labelTitle('radio buttons')
        .radio-buttons__button-wrapper
            .radio-buttons__button
                include ../radio/radio
                +radio({
                    title: 'Мужчина',
                    name: 'gender',
                    value: man
                })(checked)
            .radio-buttons__button
                include ../radio/radio
                +radio({
                    title: 'Женщина',
                    name: 'gender',
                    value: 'woman'
                })
