@font-face {
    font-family: "Montserrat Bold";
    src: url('../fonts/Montserrat/Montserrat-Bold.eot') format('embedded-type'),
         url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url('../fonts/Montserrat/Montserrat-Regular.eot') format('embedded-type'),
         url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Quicksand Bold";
    src: url('../fonts/Quicksand/Quicksand-Bold.eot') format('embedded-type'),
         url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'),
         url('../fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
         url('../fonts/Quicksand/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Quicksand Regular";
    src: url('../fonts/Quicksand/Quicksand-Regular.eot') format('embedded-type'),
         url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'),
         url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
         url('../fonts/Quicksand/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}