//  Colors

$darkShadeBlack: #1F2041;
$darkShadeGray: rgba(31, 32, 65, 0.75);
$darkShadeHalf: rgba(31, 32, 65, 0.5);
$darkShadeFourth: rgba(31, 32, 65, 0.25);
$darkShadeLight: rgba(31, 32, 65, 0.05);

$purple: #BC9CFF;
$green: #6FCF97;

// Fonts

$monseratBold: "Montserrat Bold", sans-serif;
$monseratRegular: "Montserrat Regular", sans-serif;
$quicksandBold: "Quicksand Bold", sans-serif;

// Font-size

$bigTitle: 24px;
$middleTitle: 19px;
$smallTitle: 12px;
$body: 14px; 

$bigTitleLineHeight: 30px;
$middleTitleLineHeight: 24px;
$smallTitleLineHeight: 15px;