&__index {
    font-family: $monseratBold;
    font-size: $smallTitle;
    line-height: $smallTitleLineHeight;
    text-align: center;

    width: 30px;

    margin: 0;
    padding: 0;

    background: transparent;
    border: none;

    outline: none;
}