.color-and-types {
    margin: 0;
    padding: 0;

    &__logo {
        padding-top: 30px;
        padding-left: 30px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;

        max-width: 1500px;
        width: 100%;
        padding-left: 102px;
        margin: 0 auto;
    }
}

@import "../description/description.scss";
@import "../itemWidget/itemWidget.scss";
@import "../labelTitle/labelTitle.scss";
@import "../logo/logo.scss";
@import "../titleWidget/titleWidget.scss";
@import "../colorList/colorList.scss";
@import "../titleList/titleList.scss";
