mixin linkButtons(props = {})
    -const {href, text, color} = props;
    if (color == "white")
        a.link-buttons(href = href, class = "link-buttons_bground_white")= text
    else
        a.link-buttons(href = href)= text