mixin linkButtons(props = {})
    -const {href, text, modify} = props;
    if (modify)
        a.link-buttons(href = href, class = `${modify}`)= text
    else
        a.link-buttons(href = href)= text