doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title color-and-type
    body.color-and-types
        .color-and-types__logo
            include ../../components/logo/logo
            +logo("assets/img/logo.svg")
        .color-and-types__wrapper
            include ../../components/colorList/colorList
            include ../../components/titleList/titleList
