extends ../template/template-index

block title
    | TOXIN - регистрация в сервисе

block content
    main.registration-page
        .registration-page__form-registration
            include ../../components/registration/registration