.item-widget {
    color: $darkShadeBlack;
    font-family: $quicksandBold;
    font-size: $middleTitle;
    font-weight: 500;

    line-height: $middleTitleLineHeight;

    margin: 0;
    padding: 0;
}