ul.advantages
    li.advantages__item
        .advantages__img-container
            img.advantages__img(src = "/assets/img/advantages_1.svg")
        .advantages__text-contaier
            p.advantages__title Комфорт
            p.advantages__text Шумопоглощающие стены
    li.advantages__item
        .advantages__img-container
            img.advantages__img(src = "/assets/img/advantages_2.svg")
        .advantages__text-contaier
            p.advantages__title Удобство
            p.advantages__text Окно в каждой из спален