.filter-dropdown-date
    include ../formInput/formInput
    +formInput({
        dropdown: true,
        title: "filter date dropdown",
        value: "19 авг - 23 авг",
        placeholder: "Дата въезда и выезда"
    })