&__box {
    width: 20px;
    height: 20px;

    margin-right: 10px;
    position: relative;

    border: 1px solid $darkShadeFourth;
    border-radius: 50%;

    box-sizing: border-box;

    display: block;

    &:hover {
        border-color: $purple;
    }
}

&__input:checked + &__box {
    border-color: $purple;
}

&__input:checked + &__box::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

&__box::before {
    content: none;
}