&_dropdown {
    font-weight: 400;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 5%;

        width: 15px;
        height: 15px;

        border-right: 2px solid $darkShadeHalf;
        border-bottom: 2px solid $darkShadeHalf;

        background-color: $darkShadeHalf;;
    }
}