&__navigation-link {
    font-family: $monseratRegular;
    font-size: $body;
    line-height: 17px;

    text-decoration: none;

    color: $darkShadeHalf;

    transition: 0.2s;

    &:hover {
        color: $darkShadeBlack;
        transition: 0.2s;
    }

    @import "./_dropdown-menu/_dropdown-menu.scss";
}