.reservation {
    box-sizing: border-box;

    max-width: 380px;
    width: 100%;

    padding-top: 40px;
    padding-bottom: 30px;

    background-color: #fff;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    border-radius: 4px;

    @import "./__wrapper/__wrapper.scss";
    @import "./__title/__title.scss";
    @import "./__dropdown-date/__dropdown-date.scss";
    @import "./__dropdown-guest/__dropdown-guest.scss";
    @import "./__room/__room.scss";
    @import "./__number-room/__number-room.scss";
    @import "./__type-room/__type-room.scss";
    @import "./__price/__price.scss";
    @import "./__time/__time.scss";
    @import "./__result-price-list/__result-price-list.scss";
    @import "./__item/__item.scss";
    @import "./__increase/__increase.scss";
    @import "./__other-price/__other-price.scss";
    @import "./__sales/__sales.scss";
    @import "./__result-price/__result-price.scss";
    @import "./__result-description/__result-description.scss";
}