.header {
    display: block;
    width: 100%;
    
    background-color: #fff;

    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    @import "./__logo/__logo.scss";
    @import "./__wrapper/__wrapper.scss";
    @import "./__index-link/__index-link.scss";
    @import "./__content/__content.scss";
    @import "./__navigation-list/__navigation-list.scss";
    @import "./__controls/__controls.scss";
    @import "./__navigation-item/__navigation-item.scss";
    @import "./__navigation-link/__navigation-link.scss";
    @import "./__login/__login.scss";
    @import "./__user-link/__user-link.scss";
    @import "./__user-name/__user-name.scss";
}