&_dropdown {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 70%;
        right: 5%;

        width: 7px;
        height: 7px;

        border-right: 2px solid $darkShadeHalf;
        border-bottom: 2px solid $darkShadeHalf;

        transform: rotate(45deg);
    }
}