&__description {
    font-family: $monseratRegular;
    font-size: $body;
    line-height: $middleTitleLineHeight;

    color: $darkShadeGray;
    text-align: center;

    margin: 0;
    padding: 0;

    margin-bottom: 25px;
}