&__description {
    font-family: $monseratRegular;
    font-size: $body;
    line-height: $middleTitleLineHeight;

    color: $darkShadeGray;

    margin: 0;
    padding: 0;

    max-width: 297px;
    width: 100%;

    text-align: right;

    align-self: flex-end;
    

    @media screen and (max-width: 1200px) {
        display: none;
    }
}