mixin formInputs(props={})
    - const {title, description} = props;
    .form-input
        label
            .form-input__header-label
                include ../labelTitle/labelTitle
                +labelTitle(title)
                if description
                    span.form-input__description= description
            include ../input/input
            +input(props)
