.registration {
    background-color: #fff;
    max-width: 380px;

    box-sizing: border-box;

    padding-top: 40px;
    padding-bottom: 32px;

    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    border-radius: 4px;

    @import "./__wrapper/__wrapper.scss";
    @import "./__title/__title.scss";
    @import "./__input-email/__input-email.scss";
    @import "./__button-submit/__button-submit.scss";
    @import "./__login-link/__login-link.scss";
    @import "./__link-buttons/__link-buttons.scss";
    @import "./__description-link/__description-link.scss";
    @import "./__input-firstname/__input-firstname.scss";
    @import "./__input-surname/__input-surname.scss";
    @import "./__gender/__gender.scss";
    @import "./__date-of-birth/__date-of-birth.scss";
    @import "./__login-data/__login-data.scss";
    @import "./__special-offers/__special-offers.scss";
    @import "./__subtitle/__subtitle.scss";
}