&__input {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 16px;
        right: 15px;

        width: 7px;
        height: 7px;

        border-bottom: 2px solid $darkShadeHalf;
        border-right: 2px solid $darkShadeHalf;

        transform: rotate(45deg);
    }
}