mixin expandableCheckboxList(props = {}, ...checkboxes)
    -const {modifyList, modifyTitle} = props;
    if (modifyList && modifyTitle)
        .expandable-checkbox-list.js-expandable-checkbox-list
            .expandable-checkbox-list__title.js-expandable-checkbox-list__title(class= modifyTitle)
                include ../labelTitle/labelTitle
                +labelTitle('expandable checkbox list')
            ul.expandable-checkbox-list__list.js-expandable-checkbox-list__list(class= modifyList)
                each checkbox in checkboxes
                    li.expandable-checkbox-list__item
                        include ../checkbox/checkbox
                        include ../checkbox/checkbox
                        if (checkbox.checked)
                            +checkbox({
                                text: checkbox.title
                            })(checked)
                        else
                            +checkbox({
                                text: checkbox.title
                            })
    else
        .expandable-checkbox-list.js-expandable-checkbox-list
            .expandable-checkbox-list__title.js-expandable-checkbox-list__title
                include ../labelTitle/labelTitle
                +labelTitle('expandable checkbox list')
            ul.expandable-checkbox-list__list.js-expandable-checkbox-list__list
                each checkbox in checkboxes
                    li.expandable-checkbox-list__item
                        include ../checkbox/checkbox
                        if (checkbox.checked)
                            +checkbox({
                                text: checkbox.title
                            })(checked)
                        else
                            +checkbox({
                                text: checkbox.title
                            })
            
        