mixin expandableCheckboxList(props = {})
    -const {modifyList, modifyTitle} = props;
    .expandable-checkbox-list
        .expandable-checkbox-list__title(class= modifyTitle)
            include ../labelTitle/labelTitle
            +labelTitle('expandable checkbox list')
        ul.expandable-checkbox-list__list(class= modifyList)
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Завтрак'
                })
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Письменный стол'
                })(checked)
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Стул для кормления'
                })(checked)
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Кроватка'
                })(checked)
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Телевизор'
                })
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Шампунь'
                })
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Телевизор'
                })
            li.expandable-checkbox-list__item
                include ../checkbox/checkbox
                +checkbox({
                    text: 'Шампунь'
                })
            
        