.expandable-checkbox-list {
    width: 266px;
    position: relative;
    margin-left: 500px;

    @import "./__title/_title.scss";
    @import "./__list/__list.scss";
    @import "./__item/_item.scss";
}