.label-title {
    color: $darkShadeBlack;

    font-family: $monseratBold;
    font-size: $smallTitle;

    line-height: $smallTitleLineHeight;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}